.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F6F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 5px 15px grey;
}