.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavbarList {
    display: flex;
}

.NavbarLink {
    padding: 10px 15px;
    font-size: 20px;
    min-width: 150px;
    cursor: pointer;
    position: relative;
    transition: all .3s linear;
}



.NavbarLink::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translate(-50%, -100%);
    background-color: rgba(199, 150, 137, 1);
    box-shadow: 0px 5px 15px orange;
    transition: all .3s linear;
}

.NavbarLink.ActiveNavLink {
    background-color: rgba(199, 150, 137, 0.3);
}

.NavbarLink.ActiveNavLink::after {
    width: 100%;
    z-index: 10;
}

.NavbarLangs {
    display: flex;
    margin-left: 50px;
}


.NavbarLangs div {
    cursor: pointer;
    margin: 0 10px;
}

.NavbarMobile {
    display: none;
    padding: 15px 0;
}

.BurgerButton {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.BurgerButton span {
    width: 22px;
    height: 3px;
    margin: 2px 0;
    background-color: #000;
}

@media screen and (max-width: 992px) {
    .NavbarLink {
        font-size: 18px;
        min-width: 0;
    }

    .NavbarLangs {
        margin-left: 15px;
    }

}

@media screen and (max-width: 768px) {
    .Navbar {
        display: none;
    }
    
    .NavbarMobile {
        display: flex;
    }

}

